.autoplayVideo {
  width: 100%;
  height: 100%;
}

div:has(> .autoplayVideo) {
  display: flex;
}

@media (min-width: 941px) {
  .autoplayVideo {
    width: calc(100% + 44px);
  }
}

@media (max-width: 940px) {
  div:has(> div > .autoplayVideo) {
    padding: 0;
    max-width: 100%;
  }
}
