iframe {
  border: 0;
}

@media (min-width: 941px) {
  div:has(> div > iframe.wide) {
    max-width: 100%;
    padding: 0;
  }
  
  iframe:not(.wide) {
    width: calc(100% + 44px);
  }

  div:has(> div > div > iframe.wide) {
    width: 1152px;
    margin-left: -132px;
  }
}

@media (min-width: 941px) and (max-width: 1200px) {
  div:has(> div > div > iframe.wide) {
    width: 100%;
    margin-left: 0;
  }
}

@media (min-width: 1441px) {
  div:has(> div > div > iframe.wide) {
    margin-left: 0;
  }
}

@media (max-width: 940px) {
  div:has(> div > iframe) {
    padding: 0;
    max-width: 100%;
  }
}
